.header {
    justify-content: flex-end;
    align-items: center;
}

.header h1 {
    font-size: var(--fs-secondary-heading);
}

@media (min-width: 90em) {
    .header h1 {
        margin-bottom: 60px;
    }
}