/*Header */

.header {
    justify-content: flex-end;
    align-items: center;
}

.header h1 {
    font-size: var(--fs-secondary-heading);
}


@media (max-width: 70em) {
    .header h1 {
        margin-bottom: 60px;
    }
}

/*¨Form */
.form {
    margin-bottom: 3rem;
}

/*No voyage*/
.no-voyage {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25vh;
}


/*Card*/

.card-chauffeur {
    grid-area: chauffeur;
}

.card-star {
    grid-area: star;
}

.card-horaire {
    grid-area: horaire;
}

.card-car {
    grid-area: car;
}

.card-eco {
    grid-area: eco;
}

.card-price {
    grid-area: price;
}

.card-button {
    grid-area: button;
}

.card-date {
    grid-area: date;
}

.card {
    background-color: white !important;
    border-radius: 30px;
    width: 480px;
    padding: 15px;
    display: grid;
    grid-template-columns: 110px 130px 40px 130px;
    grid-template-rows: 30px 30px 0px 30px 30px;
    gap: 10px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    grid-template-areas: 
    'chauffeur chauffeur . price'
    'star . . . '
    '. . . .'
    'date horaire . .'
    'car eco . button'
    ;
}

@media (max-width: 70em) {
    .card {
        justify-self: center;
    }
}

@media (max-width: 32em) {
    .card {
        grid-template-columns: 110px 100px 20px 100px;
        grid-template-rows: 30px 30px 0px 30px 30px;
        width: 390px;
    }
}

@media (max-width: 30em) {
    .card {
        grid-template-columns: 110px 90px 10px 100px;
        grid-template-rows: 30px 30px 0px 30px 30px;
        gap: 5px;
        width: 350px;
    }
}

.card img {
    height: 30px;
}

.card p {
    font-size: 1rem;
    color: var(--clr-dark);
}

.card h2 {
    font-size: 1.25rem;
}

.card *
{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.card-price,
.card-button {
    justify-content: center;
}

/*Card Zone*/

.voyages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.voyages button {
    align-self: flex-start;

}

.cards {
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 70em) {
    .cards {
        grid-template-columns: 1fr;
        width: auto;
    }
}

/*Filtres*/
.form-filtres {
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 7px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 3rem;
}

.form-filtres .button {
    justify-self: center;
    margin-top: 1rem;
    color: var(--clr-clear);
}

.form-filtres-div{
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content: center;
    padding-top: 1rem;
}

@media (max-width: 50em) {
    .form-filtres-div {
        flex-direction: column;
        gap: 1rem;
    }
}

.form-filtres-div label,
.form-filtres-div p {
    font-family: var(--ff-secondary);
    color: var(--clr-dark-op);
}

.form-filtres input{
    font-family: var(--ff-secondary);
    color: var(--clr-dark);
    text-align: center;
}

.form-filtres-div div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

input[type="checkbox"] {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #ddd;
}

.form-filtres-div input[type="number"] {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #000;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.voyages {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filtres {
    justify-self: left;
    align-self: baseline;
}

.filtres a{
    font-family: var(--ff-secondary);
    color: var(--clr-dark-op) !important;
    margin-left: 0.25rem;
}

.filtres a:hover {
    text-decoration: underline;
}

/*Section*/ 
.section {
    border-top: none;
}
