/*Header */

.header {
    justify-content: flex-end;
    align-items: center;
}

.header h1 {
    font-size: var(--fs-secondary-heading);
}

p {
    text-align: center !important;
    text-justify: center !important;
}

@media (max-width: 70em) {
    .header h1 {
        margin-bottom: 60px;
    }
}

/*¨Form */
.form {
    margin-bottom: 3rem;
}

/*No voyage*/
.no-voyage {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25vh;
}


/*Card*/

.card-chauffeur {
    grid-area: chauffeur;
}

.card-star {
    grid-area: star;
}

.card-horaire {
    grid-area: horaire;
}

.card-car {
    grid-area: car;
}

.card-eco {
    grid-area: eco;
}

.card-price {
    grid-area: price;
}

.card-button {
    grid-area: button;
}

.card-date {
    grid-area: date;
}

.card {
    background-color: white !important;
    border-radius: 30px;
    width: 480px;
    padding: 15px;
    display: grid;
    grid-template-columns: 110px 130px 40px 130px;
    grid-template-rows: 30px 30px 0px 30px 30px;
    gap: 10px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    grid-template-areas: 
    'chauffeur chauffeur . price'
    'star . . . '
    '. . . .'
    'date horaire . .'
    'car eco . button'
    ;
}

@media (max-width: 70em) {
    .card {
        justify-self: center;
    }
}

@media (max-width: 32em) {
    .card {
        grid-template-columns: 110px 100px 20px 100px;
        grid-template-rows: 30px 30px 0px 30px 30px;
        width: 390px;
    }
}

@media (max-width: 30em) {
    .card {
        grid-template-columns: 110px 90px 10px 100px;
        grid-template-rows: 30px 30px 0px 30px 30px;
        gap: 5px;
        width: 350px;
    }
}

.card img {
    height: 30px;
}

.card p {
    font-size: 1rem;
    color: var(--clr-dark);
}

.card h2 {
    font-size: 1.25rem;
}

.card *
{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.card-price,
.card-button {
    justify-content: center;
}

/*Card Zone*/

.voyages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.voyages button {
    align-self: flex-start;

}

.cards {
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 70em) {
    .cards {
        grid-template-columns: 1fr;
        width: auto;
    }
}

/*Section*/ 
.section {
    border-top: none;
}
