.header {
    height: 350px !important;
}

.header h3 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-semi-bold);
}

.info-covoiturage {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: none;
}

.info-covoiturage div{
    background-color: white !important;
    padding: 24px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    gap: 0.5em;
}

.info-covoiturage p {
    color: var(--clr-dark-op) !important;
}

strong {
    color: var(--clr-dark) !important;
    font-weight: var(--fw-semi-bold) !important;
}

.info-covoiturage h3 {
    color: var(--clr-dark) !important;
    font-family: var(--ff-secondary);
    font-size: var(--fs-third-heading);
    font-weight: 600;
    margin-bottom: 1rem;
}

.main .button {
    margin-bottom: 3rem;
}

@media (max-width: 75em) {
    .info-covoiturage {
        grid-template-columns: 550px;
        justify-content: center;
    }
}

@media (max-width: 40em) {
    .info-covoiturage{
        grid-template-columns: 400px;
    }
}


/*Avis */
.avis {
    background-color: var(--clr-dark);
}

.avis h2 {
    color: var(--clr-clear);
    text-align: center;
    margin-top: 30px;
}

.splide__list {
    height: 50vh;
    
}

.avis-card {
    display: grid;
    flex-direction: column;
    background-color: var(--clr-clear);
    max-width: 700px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    margin-top: 70px;
}

@media (max-width: 52em) {
    .avis-card {
        max-width: 500px;
    }
}

@media (max-width: 40em) {
    .avis-card {
        max-width: 300px;
        height: auto;
    }
}

.avis-description {
    text-align: center;
}

.avis-etoiles {
    display: flex;
    justify-self: right;
}

.avis-card img {
    height: 25px;
    margin-left: 5px;
}

/**/
.chauffeur-btns {
    display: flex;
    gap: 1rem;
}

/*Avis*/
