:root {
    --clr-primary: #0D89D6;
    --clr-secondary: #41D14D;
    --clr-clear: #F2F2F2;
    --clr-dark: #023859;
    --clr-dark-bg: #192B38;
    --clr-dark-op: #192b38c1;

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Noto Sans', serif;

    --ff-body: var(--ff-secondary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 900;

    --fs-300: .812rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.5rem;

    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-third-heading: var(--fs-600);
    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-500);

    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;

    
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    background-color: var(--clr-clear);
    display: grid;
}

p {
  color: var(--clr-dark-op);
  font-family: var(--ff-secondary);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}

h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-dark);
}

.hidden {
  display: none;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
}

.section {
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.padding{
  padding-left: 70px;
  padding-right: 70px;
}

@media (max-width: 50em) {

  .padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*Button*/
.button {
  background-color: var(--clr-primary);
  color: var(--clr-clear);
  font-family: var(--ff-secondary);
  font-size: var(--fs-button);
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--clr-dark);
}

/*Navigation*/
.nav{
  position: fixed;
  background-color: var(--clr-clear);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav .logo {
  height: 40px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-links a {
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
  color: var(--clr-dark) !important;
}

.nav-links a:hover{
  color: var(--clr-primary) !important;
}

.mobile-open-modal {
  display: none
}

.user-nav {
  height: 45px ;
}

/*Menu*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-clear);
  position: fixed;
  width: 80%;
  height: 50%;
  z-index: 1000;
  top: 80px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-self: center;
  align-self: center;
  margin: auto;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: var(--fs-700);
}

.mobile-nav-links a {
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
  color: var(--clr-dark) !important;
}

.mobile-nav-links a:hover{
  color: var(--clr-primary) !important;
}

.mobile-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
}

.overlay {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}


@media (max-width: 50em) {

  .nav {
    height: 50px;
  }

  .nav .logo{
    height: 40px;
  }

  .nav-links,
  .nav-links .button {
    display: none;
  }

  .mobile-open-modal,
  .mobile-close-modal {
    display: block;
    position: absolute;
    right: 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: .5em;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}


/*Menu connexion*/
.connexion-menu,
.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  padding: 50px 50px 15px;
  z-index: 1000;
  top: 80px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-self: center;
  align-self: center;
  margin: auto;
  gap: 0.5rem;
}

.connexion-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.connexion-form label {
  font-family: var(--ff-secondary);
  color: var(--clr-dark);
  font-weight: var(--fw-semi-bold);
}

.connexion-form *:not(:last-child) {
  display: flex;
  flex-direction: column
}

.connexion-utilisateur,
.connexion-password {
    background-color: var(--clr-clear);
    border: none;
    padding: 5px;
    border-radius: 15px;
    font-family: var(--ff-secondary);
}

.connexion-form .button {
  margin-top: 1rem;
  align-self: center;
}

.connexion-menu a {
  color: var(--clr-dark) !important;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
}

.connexion-menu a:hover{
  color: var(--clr-primary) !important;
  text-decoration: underline;
}

.connexion-link {
  cursor: pointer;
}

/*Header*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-semi-bold);
}

.header h3 {
  font-family: var(--ff-primary);
  font-size: var(--fs-third-heading);
  font-weight: var(--fw-semi-bold);
}

/*Recherche Itineraire*/
.main {
  display: grid;
}


.form {
  height: 3em;
  display: flex;
  justify-self: center;
  border-radius: 30px;
  margin-top: -25px;
  margin-bottom: 200px;
  gap: 1rem;
}

.form div {
  display: flex;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form * {
  border: 0;
}

.depart {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nombre-passagers {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rechercher {
  border-radius: 30px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.arrive,
.depart,
.date,
.nombre-passagers {
  padding: 10px;
  border-right: 2px solid rgb(169, 169, 169);
  font-family: var(--ff-secondary);
}

@media (max-width: 70em) {
  .form {
    height: auto;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: -85px;
    gap: 0.75rem;
  }

  .form div {
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .rechercher {
    align-self: center;
    text-align: center;
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }

  .depart {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }

  .arrive,
  .depart,
  .date {
    border-right: none;
    border-bottom: 2px solid rgb(169, 169, 169);;
  }

  .nombre-passagers {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }
}

/*Footer*/
.footer {
  background-color: var(--clr-dark-bg);
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}

.footer p {
  color: var(--clr-clear);
}

.footer a {
  color: var(--clr-primary) !important;
  font-family: var(--ff-secondary);
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}

.footer a:hover{
  text-decoration: underline;
}

@media (max-width: 50em) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}